.todolist{
    display:flex;
    background-color: #20212c;
    padding: 6px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.input-todolist{
    width:25px;
    height:25px;
    margin-right:5px;
    
}

.label-todolist{
    color: #ccc;
}
